<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<style type="text/css">
		body {
			background-color: #e9ecef

		}

		.container {
		  z-index: 1;
		  position: relative;
		  text-align: center;
		  padding-top: 25vh;
		}
		h4 {
			display: inline-block;
		}
		h3 {
			display: inline-block;
		}
		p {
			display: inline-block;
			color: red;
		}
		
	</style>
</head>
<body>
	<div class="container">
		<div class="jumbotron">
		  <h1 class="display-4"> <p>Calorie Calculation</p> Website</h1>
		  <hr class="my-4">
		  <h4>Wanna</h4>&nbsp; <h3>BALANCE</h3> <h4>your diet and get a</h4> <h3>SIX-PACK?</h3>
		  <h4>Now begin to record your calories intake for each meal</h4>
		  <br><br><br>
		  <a class="btn btn-primary btn-lg" href="http://127.0.0.1:5000/set" role="button">Let's get started!</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		  <a class="btn btn-primary btn-lg" href="http://127.0.0.1:5000/record" role="button">See your record</a>
		</div>	
	</div>
	
	<!-- <div class="container">
		<div class="jumbotron">
			<h1>Calorie Calculation webpage</h1>
			<div>Wanna balance your diet and get a Six-Pack?</div>
		</div>
	
		<a href="http://127.0.0.1:5000/set">Let's get started!</a>
	</div> -->
	
</body>
</html>